* {
    margin: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* creates the color scheme variable */
:root {
    --boxcolor: rgb(0, 73, 0);
}

h1 {
    font-size: 42px;
    line-height: 30px;
}

nav {
    background-color: var(--boxcolor);
    font-size: 14px;
}

/* makes the navigation bar flexible and responsive to the layout */
.links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    list-style-type: none;
    white-space: nowrap;
    margin-left: -25px;
}

/* removes the hyperlink underline */
.links a {
    color: white;
    text-decoration: none;
}

/* body headers become flexible and responsive to the layout */
.parts h2 {
    display: flex;
    flex-direction: column;
    background-color: var(--boxcolor);
    font-size: 20px;
    border: solid 1px black;
    padding: 10px;
    color: white;
}

.parts p {
    padding-left: 10px;
}

/* creates flexbox around bio to organize text next to an image */
.aboutme {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

#avatar {
    max-height: 150px;
}

/* organizes unordered list items for class "parts" */
.parts ul {
    list-style-type: none;
    padding-top: 5px;
    margin-left: -25px;
    text-align: center;
}

/* hover effect decreases opacity in active image */
#projects img:hover {
    opacity: 0.5;
}

/* organizes unordered list items for id "contact" */
#info {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* removes hyperlink underline */
#info a {
    text-decoration: none;
}

/* responsive layout reactions */
@media screen and (max-width: 768px) {
    * {
        text-align: center;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

