* {
    margin: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --boxcolor: rgb(0, 73, 0);
}
h1 {
    font-size: 42px;
    line-height: 30px;
}

nav {
    background-color: var(--boxcolor);
    font-size: 14px;
}

.links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    list-style-type: none;
    white-space: nowrap;
    margin-left: -25px;
}

.links a {
    color: white;
    text-decoration: none;
}

.parts h2 {
    display: flex;
    flex-direction: column;
    background-color: var(--boxcolor);
    font-size: 20px;
    border: solid 1px black;
    padding: 10px;
    color: white;
}

.parts p {
    padding-left: 10px;
}

.aboutme {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

#avatar {
    max-height: 150px;
}
.parts ul {
    list-style-type: none;
    padding-top: 5px;
    margin-left: -25px;
    text-align: center;
}

#info {
    display: flex;
    align-items: center;
    justify-content: center;
}

#info a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    * {
        text-align: center;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

